In [11]:
# 참고 URL
# https://thispointer.com/python-pandas-how-to-add-rows-in-a-dataframe-using-dataframe-append-loc-iloc/

import json
import csv
import pandas as pd

df1 = pd.DataFrame(columns=['LGDNG_CD', 'CTPV_NM', 'CTGG_NM', 'EMD_NM', 'LA', 'LNGT'])


# df1 = df1.append({'LGDNG_CD' : '1'} , ignore_index=True)

with open ('./center_GIN00010M.json', 'r', encoding='UTF8') as in_file:

    json_data = json.load(in_file)

    for player in json_data:

        df1 = df1.append({'LGDNG_CD' : player['LGDNG_CD'],
                         'CTPV_NM' : player['CTPV_NM'] ,
                         'CTGG_NM' : player['CTGG_NM'] ,
                         'EMD_NM' : player['EMD_NM'] ,
                         'LA' : player['LA'] ,
                         'LNGT' : player['LNGT'] }, ignore_index=True)


# print(type(player['LGDNG_CD'])) # -> str형

print(df1)

         LGDNG_CD  CTPV_NM CTGG_NM   EMD_NM         LA        LNGT
0      1100000000    서울특별시    None     None  37.529343  126.951488
1      1111000000    서울특별시     종로구     None  37.585862  126.977537
2      1111010100    서울특별시     종로구      청운동  37.589197  126.969329
3      1111010200    서울특별시     종로구      신교동  37.584490  126.967923
4      1111010300    서울특별시     종로구      궁정동  37.584682  126.973144
...           ...      ...     ...      ...        ...         ...
20567  5013032022  제주특별자치도    서귀포시  표선면 하천리        NaN         NaN
20568  5013032023  제주특별자치도    서귀포시  표선면 성읍리        NaN         NaN
20569  5013032024  제주특별자치도    서귀포시  표선면 가시리        NaN         NaN
20570  5013032025  제주특별자치도    서귀포시  표선면 세화리        NaN         NaN
20571  5013032026  제주특별자치도    서귀포시  표선면 토산리        NaN         NaN

[20572 rows x 6 columns]

In [12]:
df1 = df1.dropna(subset=['CTPV_NM', 'CTGG_NM', 'EMD_NM','LA'])
print(df1)

         LGDNG_CD  CTPV_NM CTGG_NM EMD_NM         LA        LNGT
2      1111010100    서울특별시     종로구    청운동  37.589197  126.969329
3      1111010200    서울특별시     종로구    신교동  37.584490  126.967923
4      1111010300    서울특별시     종로구    궁정동  37.584682  126.973144
5      1111010400    서울특별시     종로구    효자동  37.582649  126.971931
6      1111010500    서울특별시     종로구    창성동  37.580545  126.972462
...           ...      ...     ...    ...        ...         ...
20516  5013025000  제주특별자치도    서귀포시    대정읍  33.226820  126.252132
20530  5013025300  제주특별자치도    서귀포시    남원읍  33.279877  126.720665
20540  5013025900  제주특별자치도    서귀포시    성산읍  33.442084  126.910957
20553  5013031000  제주특별자치도    서귀포시    안덕면  33.257558  126.330674
20565  5013032000  제주특별자치도    서귀포시    표선면  33.326716  126.830982

[5050 rows x 6 columns]

In [13]:
df1.to_csv('sample.csv', index=False, encoding='euc-kr')