In [48]:
import pandas as pd
import openpyxl

# 여러 줄 한번에 output 하기
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

wb = openpyxl.load_workbook('C:/Users/dfocus/PycharmProjects/pythonProject/jupyter/test_excel/test.xlsx', data_only= True)

ws = wb.get_sheet_by_name("매입사업비")

df = pd.DataFrame(ws.values)

df.drop([0,1,2], axis=0, inplace=True)
# df.drop([0], axis=1, inplace=True)

df.dropna(how='all', axis = 0, inplace=True)
df.dropna(how='all', axis = 1, inplace=True)

df.reset_index(inplace=True, drop=True)

df.head(8)

c:\users\dfocus\pycharmprojects\pythonproject\venv\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  # Remove the CWD from sys.path while we load stuff.

,1,2,3,4,5,6,7,8,9,10,...,20,21,22,23,24,25,26,27,28,29
0,본부,구분,None,연간계획,’20년 월별추진계획,20년 계획 및 실적,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,1월 누계,None,2월 누계,None,3월 누계,...,8월 누계,None,9월 누계,None,10월 누계,None,11월 누계,None,12월 누계,None
2,None,None,None,None,계,계획,실적,계획,실적,계획,...,계획,실적,계획,실적,계획,실적,계획,실적,계획,실적
3,합계,매입,사업비,3.82997e+06,848814,83909.1,404102,250367,509546,458032,...,2.27734e+06,1.98647e+06,2.65261e+06,2.44112e+06,3.02359e+06,2.66356e+06,3.39521e+06,2.97254e+06,3.82997e+06,None
4,서울,매입,사업비,1.05896e+06,140574,22271.8,190223,66554.1,249364,121120,...,611716,593162,712645,688871,822972,746991,933555,841788,1.05896e+06,None
5,인천,매입,사업비,647804,106920,14496.9,69481.6,42999.8,75516.8,78577.8,...,397945,316673,463604,394339,522535,468218,581466,475371,647804,None
6,경기,매입,사업비,683725,158070,14762.5,81991.1,44704,99458.3,82768,...,414593,412853,482944,486566,547881,548610,612818,672109,683725,None
7,부산울산,매입,사업비,291444,100161,6663.17,13285.3,19828.1,14846.9,35730.8,...,175254,223508,204212,256642,232445,259099,260678,282531,291444,None

In [49]:
a = []

a.append(df.iloc[0,0])
a.append(df.iloc[0,1])
a.append('사업비')
a.append(df.iloc[0,3])
a.append(df.iloc[0,4].replace("’", ''))


max_columns = len(df.columns)

for i in range(5, max_columns):
    
    # null 값 체크 (NA -> TRUE)
    if df.iloc[1].notna()[i] :
        a.append(str(df.iloc[1,i-1]) + '_' + df.iloc[2,i] )
        
    else: 
        a.append(df.iloc[1,i] + '_' + df.iloc[2,i] )
        

print(a)

df.columns= a

df.drop([0,1,2], axis=0, inplace=True)

df.drop(['20년 월별추진계획'], axis=1, inplace=True)

df.reset_index(inplace=True, drop=True)

df.head(8)

['본부', '구분', '사업비', '연간계획', '20년 월별추진계획', '1월 누계_계획', '1월 누계_실적', '2월 누계_계획', '2월 누계_실적', '3월 누계_계획', '3월 누계_실적', '4월 누계_계획', '4월 누계_실적', '5월 누계_계획', '5월 누계_실적', '6월 누계_계획', '6월 누계_실적', '7월 누계_계획', '7월 누계_실적', '8월 누계_계획', '8월 누계_실적', '9월 누계_계획', '9월 누계_실적', '10월 누계_계획', '10월 누계_실적', '11월 누계_계획', '11월 누계_실적', '12월 누계_계획', '12월 누계_실적']

,본부,구분,사업비,연간계획,1월 누계_계획,1월 누계_실적,2월 누계_계획,2월 누계_실적,3월 누계_계획,3월 누계_실적,...,8월 누계_계획,8월 누계_실적,9월 누계_계획,9월 누계_실적,10월 누계_계획,10월 누계_실적,11월 누계_계획,11월 누계_실적,12월 누계_계획,12월 누계_실적
0,합계,매입,사업비,3.82997e+06,83909.1,404102,250367,509546,458032,607622,...,2.27734e+06,1.98647e+06,2.65261e+06,2.44112e+06,3.02359e+06,2.66356e+06,3.39521e+06,2.97254e+06,3.82997e+06,None
1,서울,매입,사업비,1.05896e+06,22271.8,190223,66554.1,249364,121120,281843,...,611716,593162,712645,688871,822972,746991,933555,841788,1.05896e+06,None
2,인천,매입,사업비,647804,14496.9,69481.6,42999.8,75516.8,78577.8,82294.8,...,397945,316673,463604,394339,522535,468218,581466,475371,647804,None
3,경기,매입,사업비,683725,14762.5,81991.1,44704,99458.3,82768,123160,...,414593,412853,482944,486566,547881,548610,612818,672109,683725,None
4,부산울산,매입,사업비,291444,6663.17,13285.3,19828.1,14846.9,35730.8,31289.9,...,175254,223508,204212,256642,232445,259099,260678,282531,291444,None
5,강원,매입,사업비,88636.2,1937.5,4352.45,5814.91,5899.81,10126.8,6228.81,...,46942.8,40721.9,54715.2,45250.7,62712.2,51429.4,70709.2,61863.5,88636.2,None
6,충북,매입,사업비,71530.8,1702.17,3014.99,5329.19,3037.71,9764.04,3357.71,...,43829.8,23888.3,51165.8,41515.6,57457.8,43285.2,63902.8,49684.2,71530.8,None
7,대전충남,매입,사업비,231442,5296.83,4097.91,15886.8,10814.6,28375.9,15944.6,...,139029,103217,162029,143838,184379,152972,206729,184084,231442,None

In [50]:
df.to_csv('df_output.csv', index=False, encoding='euc-kr')