In [1]:
from pyproj import Proj, transform
import numpy as np
import pandas  as pd

# Projection 정의
# UTM-K
proj_UTMK = Proj(init='epsg:5178') # UTM-K(Bassel) 도로명주소 지도 사용 중

# WGS1984
proj_WGS84 = Proj(init='epsg:4326') # Wgs84 경도/위도, GPS사용 전지구 좌표

# 좌표 변환 Example

In [2]:
# UTM-K -> WGS84 샘플
x1, y1 = 961114.519726,1727112.269174
x2, y2 = transform(proj_UTMK,proj_WGS84,x1,y1)
print(x2,y2)

127.07098392510115 35.53895289091983

In [3]:
# WGS84 -> UTM-K 샘플
x1, y1 = 127.07098392510115, 35.53895289091983
x2, y2 = transform(proj_WGS84, proj_UTMK, x1, y1)
print(x2,y2)

961114.5197260004 1727112.2691739995

# DataFrame 여러 좌표 변환 Example

In [4]:
# x, y 컬럼을 이용하여 UTM-K좌표를 WGS84로 변환한 Series데이터 반환
def transform_utmk_to_w84(df):
    return pd.Series(transform(proj_UTMK, proj_WGS84, df['x'], df['y']), index=['x', 'y'])

In [5]:
df_xy = pd.DataFrame([
                                        ['A', 961114.519726,1727112.269174],
                                        ['B', 940934.895125,1685175.196487],
                                        ['C', 1087922.228298,1761958.688262]
                                    ], columns=['id', 'x', 'y'])

In [6]:
df_xy

  id             x             y
0  A  9.611145e+05  1.727112e+06
1  B  9.409349e+05  1.685175e+06
2  C  1.087922e+06  1.761959e+06

In [7]:
df_xy[['x_w84', 'y_w84']] = df_xy.apply(transform_utmk_to_w84, axis=1)

In [8]:
df_xy

  id             x             y       x_w84      y_w84
0  A  9.611145e+05  1.727112e+06  127.070984  35.538953
1  B  9.409349e+05  1.685175e+06  126.851387  35.159797
2  C  1.087922e+06  1.761959e+06  128.473791  35.849993